In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [18]:
#load our data
df = pd.read_csv("housing_price.csv")
df.head()

   size  bedrooms   price
0  1500         3  300000
1  1600         3  320000
2  1700         3  340000
3  1800         4  360000
4  1900         4  380000

In [19]:
#split the dataset into feature and target as (x) and (y) axis

X=df[['size','bedrooms']].values
y=df['price'].values

In [20]:
#intiate or define our model
model = LinearRegression()

In [22]:
#define our crossvalidation method which is KFold
kf=KFold(n_splits=5)
mae_scores = []
for train_index,test_index in kf.split(x):
   X_train,X_test =X[train_index],X[test_index]
   y_train,y_test =y[train_index],y[test_index]

model.fit(X_train,y_train)

y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mae_scores.append(mae)
averange_mae = np.mean(mae_scores)
print(f"averange Mean absolute error:{averange_mae}")

averange Mean absolute error:0.0